<style type="text/css">
body {
    border-radius: 10px;
    background-color: #191919;
    font-size: 80%;
    line-height: 120%;
    color: white; 
    font-family: 'source_sans_proregular';
}
h1,h2,h3,h4,h5 {
    color: #EFEBE8;
    background: none;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-width: 1.5px;
    padding-bottom: 8px;
}
p,em,strong {
    background: none;
    font-size: 12px;
    line-height: 105%;
}
</style>