@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
	background-color: black
}

/* Three.js stuff... */

/* end... */

/* to remove the fixed right pane see .left_bar class and make position:absolute */

html,body {
	height:99%;
}

center {
	background: None;
}

h1 {
	margin-top: 0;
}

h1,h2,h3,h4,h5 {
	margin-bottom: 0.2em;
	font-family: 'source_sans_probold';
    color: #e2e2e2;
    background: none;
	border-color: #e2e2e2;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-width: 1.5px;
    padding-bottom: 4px;
}

h3,h4,h5 {
	border: none;
}

h1 {
	padding-bottom: 1px;
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p,strong,em {
	margin-top: 0.2em;
    background: none;
    font-size: 1.1em;
	color: #adadad;
	line-height: 130%
}

img {
	width: 40em;
	background: none;
	border-radius: 0.6em;
}

figure,figcaption {
	background: none;
	color: #EFEBE8;
	font-family: 'source_sans_proitalic';
	font-size: 1em;
	text-align: center;
}

a {
	text-decoration: none;
	color: #EFEBE8;
}

a:visited {
	text-decoration: none;
	color: #EFEBE8;
}

a:hover {
	color: #ffea29;
}

.bg_container {
	display: flex;
	justify-content: center;
	width: 100%;
	height:fit-content;
}

.left_bar_placeholder{
	flex: 0 0 20em;
	
}

.left_bar {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 20em;
	color: #c8ccc7;
	font-family: 'source_sans_probold';
	padding-right: 10px;
	margin-right: 5px;
	height: 99vh;
}

.fullname {
	flex:auto;
	padding-bottom: 0.1em;
	padding-top: 0.2em;
	line-height: 45px;
	font-size: 60px;
	font-family: 'source_sans_probold';
}

.details {
	flex:auto;
	padding: 0.1em;
}

.email {
	font-family: 'source_sans_proregular';
}

.flag-swe {
	width: 1.9em;
	position: relative;
	top: 5px;
	border-radius: 0.2em;
}

.flag-usa {
	width: 1.9em;
	position: relative;
	top: 5px;
	border-radius: 0.2em;
}

#sobel {
	flex:auto;
	width: 100%;
	height: 300px;
	padding: 0.5em;
}

.menu {
	flex: auto;
	margin: 10px auto;
	height: 60%;
	overflow: auto;
	width: 100%;
}

.menu ul {
	width: 100%;
	background-color: black;	
	color: #c8ccc7;
	padding: 0;
	margin: 0;
	font-family: 'source_sans_probold';
	font-size:xx-large;
	list-style: none;
}

.menu li {
	padding-top: 4px;
	text-align: right;
}

.menu li:hover {
	font-family: "source_sans_problack_italic";
	text-indent: 10px;
}

.moreLinks {
	flex:auto;
	padding: 0.5em;
}

.moreLinks ul {
	width: 100%;
	background-color: black;	
	color: #c8ccc7;
	padding: 0;
	margin: 0;
	font-family: 'source_sans_proregular';
	list-style: none;
}

.moreLinks li {
	padding: 0.1em;
}

.moreLinks li:hover {
	font-family: 'source_sans_proitalic';
}

#signature {
	flex:auto;
	padding-bottom: 1.5em;
	width: 100%;
	color: #2b2b2b;
	text-align: center;
	font-family: "source_sans_proitalic";
}

#main {
	flex: 0 1 1000px;
	place-self: top;
	background-color: #0f0f0f;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 10px;
	font-family: 'source_sans_proregular';
	border-radius: 0.6em;
}