.list-article {
    display: grid;
    grid-template-columns: fit-content(45%) 1fr fit-content(45%);
}

.list-link:hover hr {
    background-color: #75a6e6;
}

h1 {
    font-size: medium;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

time {
    color: #7d7d7d;
    font-style: italic;
    font-size: small;
    font-family: 'Lucida Console';
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: right;
    padding-right: 5px;
}


.master-container {
    display: grid;
    grid-template-columns: 1fr 50em 1fr;
}

.center-container {
    display: grid;
    grid-template-rows: 100px fit-content(80%) 1fr;
}

.main-content {
    background-color: #90c0ff;
    border-radius: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'RomanSerif';
}

.blog-list-connectorLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    margin-left: 10px; margin-right: 10px;
    border-style: none;
    height: 0.2em;
    background-color: #90c0ff;
    
}
