article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    font-size: medium;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

time {
    color: #7d7d7d;
    font-style: italic;
    font-size: small;
    font-family: 'Lucida Console';
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: right;
    padding-right: 5px;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 19%, rgba(213,235,162,1) 70%, rgba(155,208,31,1) 100%);
}

.master-container {
    display: grid;
    grid-template-columns: 10% 40em 1fr;
}

.center-container {
    display: grid;
    grid-template-rows: 100px fit-content(80%) 1fr;
}

.main-content {
    background-color: #eccf3c;
    border-radius: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
}


