@font-face {
    font-family: 'RomanSerif';
    src: url('/assets/fonts/RomanSerif.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#my-canvas {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: black;
    display: flex;
    justify-content: center;
}

#my-column {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr auto;
    max-width: 430px;
    width: 100%;
    height: 100%;
    font-family: 'RomanSerif';
}

#center-box {
    background-color: #141135;
    border: 1px solid white;
    /* background-color: #254221; */
    border-radius: 0.5em;
    max-width: 400px;
    padding-left: 15px; padding-right: 15px;
    margin-left: 10px; margin-right: 10px;
    color: white;
    align-self: center;
}

#signature {
    padding: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 50px;
    color: white
}

#signature img {
    width: 40px;
    order: 2;
    margin: 9px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#signature p {
    padding-left: 15px; padding-right: 15px;
    font-style: italic;
    margin: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 2em;
    margin-block: 5px;
}

h2, h3 {
    text-align: left;
    font-size: medium;
}

a {
    text-decoration: none;
    color: #b3a859;
}

a.header-anchor {
    display: none;
}

.blog-link {
    /* background-color: lightgreen; */
    font-style: oblique;
}

.blog-link:active {
    background-color: darkgreen;
}