@font-face {
    font-family: 'source_sans_probold';
    src: url('/assets/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_problack_italic';
    src: url('/assets/fonts/sourcesanspro-blackitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/sourcesanspro-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proitalic';
    src: url('/assets/fonts/sourcesanspro-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/sourcesanspro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('/assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
	div .bg_container {
		display: grid;
		grid-template-rows: 180px 1fr 20px;
		grid-template-columns: 1fr;
	}
	div .left_bar_placeholder {
		display: block;
	}
	div .left_bar {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 60px 120px;
		background: none;
		width: 100%;
	}
	div .sobel, div .email {
		display: none;
	}
	div .details {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	div .signature {
		display: none;
	}
	.mobile-signature {
		flex:auto;
		padding-bottom: 1.5em;
		width: 100%;
		color:gray;
		text-align: center;
		font-family: "source_sans_proitalic";
		font-size:medium;
	}
	div .menu {
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 2;
		display: flex;
		justify-content: center;
	}
	div .menu ul {
		background-color: black;	
		color: #c8ccc7;
		padding: 0;
		font-family: 'source_sans_probold';
		font-size: 18px;
		list-style: none;
	}
	
	div .menu li {
		display: flex;
		justify-content: left;
	}
	
	div .menu li a {
		padding-top: 0px;
		text-decoration: none;
	}

	div .main-wrapper {
		margin: 2px;
		padding: 10px;
	}
  }

/* CSS Defaults */
* {
	box-sizing: border-box;
	background-color: black
}

html,body {
	height:99%;
}

center {
	background: None;
}

h1 {
	margin-top: 0;
}

h1,h2,h3,h4,h5 {
	margin-bottom: 0.2em;
	font-family: 'source_sans_probold';
    color: #e2e2e2;
    background: none;
	border-color: #e2e2e2;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-width: 1.5px;
    padding-bottom: 4px;
}

h3,h4,h5 {
	border: none;
}

h1 {
	padding-bottom: 1px;
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p,strong,em {
	margin-top: 0.2em;
    background: none;
    font-size: 1.25rem;
	color:#e2e2e2;
	line-height: 130%;
}

p {
	font-family: 'source_sans_proregular';
}

sup {
	vertical-align: text-bottom;
	padding-left: 0.2em;
}

sup a {
	color:#adadad;
	text-decoration: none;
}

table {
	margin-left: auto;
	margin-right: auto;
	padding: 0.5em;
	/* background: none; */
	border-radius: 0.6em;
	color:#e2e2e2
}

tbody,thead,th,tr,td {
	background: none;
	padding: 0.1em;
	text-align: left;
}

td {
	padding-right: 01em;
}

figure,figcaption {
	background: none;
	color: #EFEBE8;
	font-family: 'source_sans_proitalic';
	font-size: 1em;
	text-align: center;
}

blockquote {
	background: none;
}

blockquote p{
	color:#818181;
	border-left: 0.1em solid #818181;
	padding-left: 10px;
	font-style: italic;
}

a {
	background:none;
	color:#e2e2e2
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #ffea29;
}

time {
	all: inherit
}

img, picture {
	background: none;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	justify-content: center;
	margin-bottom: 1em;
	border-radius: 0.6em;
}

.img_row_container {
	display: flex;
	background: none;
	justify-content: center;
	margin-bottom: 0;
}

picture.img_row {
    flex-basis: 0px;
    width: 0px;
    height: auto;
}

picture.img_row img {
	width:98%;
}

.img_3row {
	width: 32%;
	flex: 1;
	background: none;
	object-fit: cover;
	align-self: center;
}

/* Layout Control */

.BG_container {
	display: flex;
	justify-content: center;
}

.bg_container {
	display: grid;
	max-width: 1200px;
	grid-template-columns: 310px 2.5fr;
}

.left_bar_placeholder {
	display: flex;
	justify-content: right;
}

.left_bar {
	position: fixed;
	display: grid;
	grid-template-rows: 60px 60px 280px 1fr 110px;
	color: #c8ccc7;
	font-family: 'source_sans_probold';
	margin-right: 5px;
	padding-left:10px;
	height: 99vh;
	width: 310px;
}

.fullname {
	padding-bottom: 0.1em;
	padding-top: 0.6em;
}

.fullname a {
	flex:auto;
	line-height: 45px;
	font-size: 60px;
	max-height: 60px;
	font-family: 'source_sans_probold';
	text-decoration: none;
}

.details {
	display: flex;
	flex-direction: column;
	padding: 0.1em;
}

.email {
	display: flex;
	font-family: 'source_sans_proregular';
	padding-bottom: 5px;
}

.email p {
	flex-basis: 16%;
	font-size: 1em;
	margin: 0px;
}

.icons {
	display: grid;
	grid-template-columns: 40px 40px 40px 1fr;
}

.icons a img {
	margin: 0px;
	border-radius: 0px;
}

.sobel {
	flex:auto;
	width: 100%;
	height: 300px;
	padding: 0.5em;
}

.menu ul {
	background-color: black;	
	list-style: none;
}

.menu li {
	display: flex;
	justify-content: right;
	width: 100%;
}

.menu li a {
	padding-top: 2px;
	text-decoration: none;
	color: #c8ccc7;
	padding: 0;
	font-family: 'source_sans_probold';
	font-size: xx-large;
}

.menu li a:hover {
	/* font-family: "source_sans_problack_italic"; */
	/* text-indent: 10px; */
	color: #ffea29;
}

.moreLinks {
	flex:auto;
	padding: 0.5em;
}

.signature {
	flex:auto;
	width: 100%;
	color:gray;
	text-align: center;
	font-family: "source_sans_proitalic";
	font-size:medium;
}

.signature img {
	width: 15%;
	padding-top: 13px;
}

.main {
	background: none;
	height: calc(100% + 34vh);
}

.main-wrapper {
	background-color: #0f0f0f;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 10px;
	font-family: 'source_sans_proregular';
	border-radius: 0.6em;
}

.header-anchor {
	text-decoration: none;
	color:#2b2b2b;
	padding-left: 0.2em
}

.page-metadata {
	background: none;
	display: inline-block;
	font-family: 'source_sans_proitalic';
	font-size: 1.1em;
	color:#818181;
}

.footnotes, .footnotes-list, .footnote-item {
	background:none;
}

.footnotes-sep {
	height: 1px;
	border-width: 0;
	color:#adadad;
	background-color: #adadad;
}

.footnote-item::marker {
	color:#e2e2e2;
	text-decoration: none;
}

.footnote-item p {
	background:none;
	font-size: 1em;
	/* font-style: italic; */
	color:#818181;
}

.footnote-ref {
	background:none;
}

/* For non-mobile shutoff */

.mobile-menu {
	display: none;
}

/* For all <code> */
code {
	font-family: monospace;
	font-size: 1em;
  }
  
/* Code in text */
p > code,
li > code,
dd > code,
td > code {
background: #818181;
word-wrap: break-word;
box-decoration-break: clone;
padding: .05rem .3rem .05rem;
border-radius: .2rem;
}

#project-text {
	background: none;
}
