#back-button * {
    display: flex;
    justify-content: center;
}

#my-canvas {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    /* background-color: white; */
    display: flex;
    justify-content: center;
}

#my-column {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr auto;
    max-width: 430px;
    width: 100%;
    height: 100%;
    font-family: 'RomanSerif';
}

#my-toolbox {
    align-self: center;
    background-color: #141135;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

#tool-list {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#tool-list-link * {
    max-width: 200px;
}

#calculator {
    color: white;
}

#result {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding: 5px;
    color: white;
}

p {
    color: white;
}



