<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{# <title>{{ title or metadata.title }} — felix</title> #}
		<title>Felix Slothower</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		
		

		{# <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> #}
	</head>
		<body>
			{{content | safe}}
		</body>
</html>
