---
layout: base.njk
---
{% set css %}
	{% include "public/css/home.css" %}
	{% include "public/css/blog-page.css" %}
{% endset %}

<style>
	{{css|safe}}
</style>

<div class="back">
	<div class="back-text"><a href="../index.html">~ back</a></div>
</div>

<div class="content">
	{{content | safe}}
</div>

<div class="page-metadata">
	Created:  <time datetime="{{ page.date | htmlDateString }}"> {{ page.date | readableDate }} </time>
</div>