---
layout: base.njk
---
{% set css %}
	{% include "public/css/blog-page.css" %}
{% endset %}

<style>
	{{css|safe}}
</style>

<div class="back">
	<div class="back-text"><a href="../index.html">back</a></div>
</div>

{{content | safe}}

<div class="page-metadata">
	Modified:  <time datetime="{{ page.date | htmlDateString }}"> {{ page.date | readableDate }} </time>
</div>