---
layout: base.njk
pagination:
    data: collections.blog
    reverse: true
    alias: blogs
    size: 20
---
{% set css %}
    {% include "public/css/home.css" %}
	{% include "public/css/blog.css" %}
{% endset %}

<style>
	{{css|safe}}
</style>

<div class="outer-bucket">
    <div class="center-rows">
        
        <div class="header-white-space"></div>
        <div class="main-content">
            <div class="back-button">{{content | safe}}</div>
            <div class="blog-list">
                {% for blog in blogs %}
                    <a class="list-link" href="{{ blog.url | url }}">
                        <article class = "list-article">
                            <h1>{{ blog.data.title }}</h1>
                            <div class="blog-list-connectorLine"><hr></div>
                            <time datetime="{{ blog.date | dateIso }}">{{ blog.date | dateReadable }}</time>
                        </article>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

