---
layout: base.njk
---
{% set css %}
	{% include "public/css/home.css" %}
	{% include "public/css/blog.css" %}
{% endset %}

<style>
	{{css|safe}}
</style>


<div class="outer-bucket">
    <div class="center-rows">
        
        <div class="header-white-space"></div>
        <div class="main-content">
            <div class="back-button"><a href="../index.html">~ back</a></div>
            <div class="markdown-content">{{content | safe}}</div>
			<div class="page-metadata">
				<time datetime="{{ page.date | htmlDateString }}">Created:  {{ page.date | readableDate }} </time>
			</div>
        </div>
    </div>
</div>