---
layout: base.njk
date: git Last Modified
---

{% set css %}
    {% include "public/css/home.css" %}
{% endset %}

<style>
    {{css|safe}}
</style>

<script type="module" src="/js/sobel.js"></script>
<div id="my-canvas">
    <div id="my-column">
        <div id="center-box" tabindex="0">
            {{content | safe}}
        </div>
        <div id="signature">
            <p>Designed and built by Felix Slothower</p>
            <p class='year'>2020-{{page.date.getYear() + 1900}}</p>
            <img src="/assets/icons/blueglass_icon_w.svg" alt="blueglass-logo">
        </div>
    </div>
</div>

