---
layout: base.njk
---

{% set css %}
	{% include "public/css/home.css" %}
	{% include "public/css/image.css" %}
{% endset %}

<style>
	{{css|safe}}
</style>

<div id="center-rows">
    <div id="blank-space"></div>
    <div id="container">
        <div id="back-button">
        {{content | safe}}
        </div>
        <div id="image-reel">
            <article>
            {% for image in collections.images %}
                <div id="image-in-reel">
                {{image.content | safe}}
                <p id="date">{{image.data.date.toUTCString().split(' ').splice(1,3).join(' ')}}</p>
                </div>
            {% endfor %}
            </article>
        </div>
    </div>
</div>