---
layout: base.njk
---
{% set css %}
	{% include "public/css/portfolio.css" %}
{% endset %}

<style>
	{{css|safe}}
</style>

<div class="BG_container">
	<div class="bg_container">	
		<div class="left_bar_placeholder">
			<div class="left_bar">
				<div class="fullname"><a id="welcome">Felix S.</a></div>
				<div class="details" style="white-space:nowrap">
					<div class="email"> 
						<p>email.</p>
						<p>felixslothower@gmail.com</p>
					</div>
					<div class="icons">
						<a href="https://www.linkedin.com/in/felix-slothower-103a471a8/" class="icon-linkedin" target="_blank">
							<img src="/assets/icons/linkedin.svg" alt="linkedin-icon">
						</a>
						<a href="https://github.com/sl0thower" class="icon-github" target="_blank">
							<img src="/assets/icons/github.svg" alt="github-icon">
						</a>
						<a href="../../assets/pdf/resume.pdf" class="icon-cv" target="_blank">
							<img  src="/assets/icons/cv.svg"  alt="cv-icon">
						</a>
					</div>
				</div>
				<div id="portfolio-canvas"> 
					<script type="module" src="../js/sobel-portfolio.js"></script>
				</div>
				<div class="menu">
					<ul>
					{% for page in collections.projects %}
					<li>
						<a id="{{page.data.id}}">{% if page.data.title %}{{ page.data.title }}{% endif %}</a>
					</li>
					{% endfor %}
					</ul>
				</div>
				<div class="signature">
					Designed and built by Felix Slothower
					<a href="../../index.html">
						<img src="/assets/icons/blueglass_icon_w.svg" alt="blueglass-logo">
					</a>
				</div>
			</div>
		</div>
		<div class="main-wrapper">
			<div class="main">
				<div id="project-text"></div>
				<hr class="footnotes-sep">
				<div class="page-metadata">
					Modified:  <time datetime="{{ page.date | htmlDateString }}"> {{ page.date | readableDate }} </time>
				</div>
			</div>  
		</div>
		<div class="mobile-signature">
			Designed and built by Felix Slothower
		</div>
	</div>
</div>	
