---
layout: base.njk
---
<div class="BG_container">
	<div class="bg_container">
		<div class="left_bar_placeholder">		
			<div class="left_bar">
				<div class="fullname"><a href="/index.html">Felix S.</a></div>
				<div class="details "style="white-space:nowrap">
					<div class="email"> 
						<p>email.</p>
						<p>felixslothower@gmail.com</p>
					</div>
					<div class="icons">
						<a href="https://www.linkedin.com/in/felix-slothower-103a471a8/" class="icon-linkedin" target="_blank">
							<img src="/assets/icons/linkedin.svg" alt="linkedin-icon">
						</a>
						<a href="https://github.com/sl0thower" class="icon-github" target="_blank">
							<img src="/assets/icons/github.svg" alt="github-icon">
						</a>
						<a href="/assets/pdf/resume.pdf" class="icon-cv" target="_blank">
							<img src="/assets/icons/cv.svg" alt="cv-icon">
						</a>
					</div>
				</div>
				<div class="sobel"> 
					{# <script type="importmap">
						{
							"imports": {
								"three": "./js/three/build/three.module.js"
							}
						}
					</script> #}
					<script type="module" src="./js/sobel.js"></script>
				</div>

				<div class="menu">
					<ul>
					{% for page in collections.projects %}
					<li class="{{ page.data.id }}">
						<a href="{{ page.url }}">{% if page.data.title %}{{ page.data.title }}{% else %}<code>{{ page.url }}</code>{% endif %}</a>
					</li>
					{% endfor %}
					</ul>
				</div>
				{# <div class="moreLinks">
					<ul>
						<li id="home">Home</li>
						<li id="links">Links</li>
					</ul>
				</div> #}
				<div class="signature">
					Designed and built by Felix Slothower
				</div>
			</div>
		</div>
		
		<div class="main-wrapper">
			<div class="main">
				{{content|safe}}
			</div>  
		</div>
		<div class="mobile-signature">
			Designed and built by Felix Slothower
		</div>
	</div>
</div>	
