---
layout: base.njk
pagination:
    data: collections.tool
    alias: tools
    size: 20
---
{% set css %}
	{% include "public/css/tool.css" %}
{% endset %}

<style>
	{{css|safe}}
</style>

<div id="my-canvas">
    <div id="my-column">
        <div id="my-toolbox">
            <div class="back-button"><a href="../index.html">~ back</a></div>
            <div id="page-text">{{content | safe}}</div>
            <div id="tool-list">
                {% for tool in tools %}
                    <a id="tool-list-link" href="{{ tool.url | url }}">
                        <img src="{{tool.data.link}}"/>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
