---
layout: layouts/portfolio.njk
---
<h1>{{ title }}</h1>

{{content | safe}}
{# {{ content | replace("<p>&lt;img", "<figure><img") | replace("&gt;</p>", "></figure>") | safe }} #}

<hr class="footnotes-sep">

<div class="page-metadata">
	Modified:  <time datetime="{{ page.date | htmlDateString }}"> {{ page.date | readableDate }} </time>
</div>
